.type-a-package {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #5a5b5c;
    padding: 5rem 5rem 10rem;

    &__content {
        max-width: 130rem;
        display: flex;
    }
}

.specifications {
    margin-right: 5rem;

    &__header {
        font-size: 3.1rem;
        margin-bottom: 1rem;
    }

    &__image-container {
        display: flex;
        list-style-type: none;
    }

    &__image-item {
        background-color: #e5e5e5;

        &:not(:last-child) {
            margin-right: .5rem;
        }
    }

    &__image {
        width: auto;
        height: 35rem;
    }

    &__text-list {
        font-size: 2rem;
    }

    &__text-item {
        margin-left: 3rem;
        margin-bottom: 4rem;
    }

    &__figure {
        font-size: 1.4rem;
        width: 100%;
    }

    &__table {
        border: solid .1rem #ebecee;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 2rem;
    }

    &__table-row {

        &.gray-background {
            background-color: #fafafa;
        }
    }

    &__table-item {
        border: solid .1rem #ebecee;
        padding: 1.4rem;

        &.bold {
            font-weight: bold;
        }

        &.center {
            text-align: center;
        }
    }

    &__table-list {
        list-style: none;
    }

    &__figure-caption {
        text-align: center;
    }
}

.features {

    &__sub-header {
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 3.5rem;
    }

    &__divider {
        width: 100%;
        height: .1rem;
        background-color: #fcb900;
        margin-bottom: 3rem;
    }

    &__header {
        font-size: 4.1rem;
        margin-bottom: 1rem;
    }

    &__text {
        font-size: 3.6rem;
        line-height: 1.4;
        margin-bottom: 4rem;
    }

    &__sub-header-three {
        font-size: 3.1rem;
        margin-bottom: 2rem;
    }

    &__text-list {
        font-size: 2rem;
        padding-left: 2.5rem;
    }

    &__sub-text-list {
        padding-left: 3.5rem;
        margin-top: 1rem;
    }
}