$breakpoint-one: 800px;

.article-search {
    background-color: #fff;

    &__title-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        padding: 3.2rem 5rem;

        @media (max-width: $breakpoint-one) {
            padding: 3.2rem 1.5rem;
        }
    }

    &__title {
        width: 107rem;
        max-width: 107rem;
        color: #929394;
        font-size: 4.2rem;

        @media (max-width: $breakpoint-one) {
            font-size: 3rem;
        }
    }

    &__list-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 5rem 8rem;

        @media (max-width: $breakpoint-one) {
            padding: 4rem 1.5rem 8rem;
        }
    }

    &__list {
        list-style-type: none;
        max-width: 107rem;
    }
}

.article {
    border-bottom: solid .1rem #e0e1e3;
    padding-bottom: 4rem;

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__title {
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    &__title-link {
        color: #000;
        text-decoration: none;
        font-size: 2.8rem;

        @media (max-width: $breakpoint-one) {
            font-size: 2rem;
        }

        &:visited {
            color: #000;
        }

        &:hover {
            color: #7a6c00;
        }
    }

    &__author {
        font-size: 1.1rem;
        color: #929394;
        margin-bottom: 4rem;
    }

    &__author-link {
        color: inherit;
    }
}

.markdown {
    p {
        margin-bottom: 3.2rem;
        font-size: 1.4rem;
        color: #5a5b5c;
    }

    ul {
        padding-left: 2rem;
        margin-bottom: 3.2rem;
        font-size: 1.4rem;
        color: #5a5b5c;
    }

    a {
        color: #7a6c00;
    }
}